.logo{
    text-decoration:none;
    font-size: xx-large;
    color:white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.shopping-cart-logo {
    width: 30px;
    height: auto;
}

.account-logo {
    width: 3vh;
    height: auto;
}
